@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-rows: 200px 1fr 100px;
    min-height: 100vh;
}
.container > div.header{
    background-color: #fab4b4;
}
.container > div.footer{
    background-color: #2f2c1f;
    color: #fff;
}