* { padding: 0; margin: 0; box-sizing: border-box; }

.body{ display:inherit;justify-content: center;}
a { text-decoration: none; color: #000; }
ul { list-style: none; }
table, td, th { border: 1px solid #262626; border-collapse: collapse; }
td, th { padding: 5px; }

.container {
    display: grid;
    grid-template-rows: 100px 1fr 80px;
    min-height: 100vh;
}
table{border-top: 1px solid #222;border-left: 0;border-right: 0;
    margin-top: 1.5rem;width: 100%;}
table th{background: #eee;border-top: 2px solid dodgerblue;}
table *{border-color: #ddd;}
table th:first-child,table td:first-child{border-left: 0;}
table th:last-child,table td:last-child{border-right: 0;}

.header {
    background-color: #fab4b4;
    padding: 10px 30px;
}
.topMenu {
    display: flex;
    margin-top: 20px;
}
.topMenu li a {
    color: #fff;
    font-size: 20px;
}
.topMenu li a:hover {
    color: #efefef;
}
.topMenu li:not(:first-child) {
    margin-left: 15px;
}
.topMenu li:last-child{
    flex-grow: 1;
    text-align: right;
    color: #efefef;
}

.body {
    padding: 20px;
}

.subContainer{
    display: grid;
    grid-template-rows: 100px 1fr;
}
.subContaier > .subMenus {
    border-right: 1px solid #000;
}


.fav{ color: #f66e6e; font-size: 2rem;}
.fav i:hover{ cursor: pointer; }

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4b4b4b;
    color: #fff;
}