.page-title{
    align-items: baseline;
    justify-content: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.wrap{
    display: flex;
    justify-content: center;
    align-content: center;
}
.wrap > div{
    width: 400px;
    height: 400px;
    background-color: beige;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.wrap > div input[type="text"],
.wrap > div input[type="password"]{
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
}
.wrap > div input[type="submit"]{
    padding: 5px;
    width: 100%;
    background-color: brown;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    margin: 1.5rem 0;
}
.wrap > div input[type="reset"]{
    padding: 5px;
    width: 100%;
    background-color: brown;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}